<link rel="stylesheet" href="../css/header.css">

<header>
    <p id="header-heading">My Social Media</p>

    <ul id="header-list">
        <% if (locals.user){ %>
            <li class="header-list-item"><%= user.name %></li>
            <li class="header-list-item">
                <a class="links" href="/users/sign-out"> Sign Out </a>
            </li>
        <%}else{ %>
            <li class="header-list-item">
                <a class="links" href="/users/sign-in">Sign In</a>
            </li>
            <li class="header-list-item">
                <a class="links" href="/users/sign-up"> Sign Up </a>
            </li>

        <% } %>

    </ul>
</header>
