<link rel="stylesheet" href="../css/post.css">

<h1>Home </h1>
<p>This is home</p>

<section id="feed-post">
    <h4>Posts</h4>
    <!-- use locals to get rid of errors of undefined user -->
    <% if(locals.user){ %>
    <form action="/posts/create" id="new-post-form" method="post">
        <textarea name="content" cols="30" rows="3" required></textarea>
        <input type="submit" value="Post">
    </form>
    <% } %>
    <!-- <%= posts[0].user %> -->

    <div id="posts-list-container">
        <ul>
            <% for(post of posts){ %>

                <!-- list item has been placed in post.ejs file using partials -->
                <%- include("_post") -%>

            <% } %>

        </ul>
    </div>
</section>

<section id="user-friends">
    <h4>friends</h4>
    <% for (u of all_users){ %>
        <p>
            <a href="/users/profile/<%= u.id %>"> <%= u.name %></a>
        </p>
    <% } %>

</section>