<link rel="stylesheet" href="../css/home.css">



<div id="feed-post-container">
    <section id="feed-post">
        <h4 id="feed-post-heading">Posts</h4>
        <!-- use locals to get rid of errors of undefined user -->
        <% if(locals.user){ %>
        <form action="/posts/create" id="new-post-form" method="post">
            <div id="new-post-form-container">
                <textarea id="form-textarea" name="content" cols="80" rows="7" placeholder="holla amigos! Post something new about you!!" required></textarea>    
                <input id="form-sbt-btn" type="submit" value="Post">
            </div>
        </form>
        <% } %>
        <!-- <%= posts[0].user %> -->
    
        <div id="posts-list-container">
            <ul id="posts-list">    
                <% for(post of posts){ %>
    
                    <!-- list item has been placed in post.ejs file using partials -->
                    <%- include("_post") -%>
    
                <% } %>
    
            </ul>
        </div>
    </section>
    
    <section id="user-friends">
        <h4 id="user-friends-heading">Friends</h4>
        <% for (u of all_users){ %>
            <p>
                <a href="/users/profile/<%= u.id %>"> <%= u.name %></a>
            </p>
        <% } %>
    
    </section>
</div>

<script src="/js/home_posts.js"></script>