<link rel="stylesheet" href="../css/signup.css">
<script src="https://kit.fontawesome.com/7fe716acd6.js" crossorigin="anonymous"></script>


<div class="signup">

    <h1 class="signup-header">
        Sign In
    </h1>

    <form class="signup-form" action="/users/create-session" method="post">
        <input class="inputs" type="email" name="email" placeholder="Email" required>
        <input class="inputs" type="password" name="password" placeholder="Password" required>
        <input class="submitBtn" type="submit" value="Sign In">

    </form>

    <div id="altdiv" >
        <div class="dash" ></div>
        <p class="alternate">Or</p>
        <div class="dash" ></div>
    </div>

    <a class="google-link" href="/users/auth/google">
        <i id="google-icon" class="fa-brands fa-google"></i>
        <p id="google-para"> Sign In with Google</p>
    </a>    

</div>