header {
    height: 50px;
    width: 100%;
    background-color: #4c33d9;
    display: flex;
    justify-content: space-between;
    color: white;
}

#header-heading {
    margin: 10px 10px 10px 40px;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}
#header-list {
    list-style: none;
    display: flex;
    justify-content: right;
    height: auto;
    width: 25%;
    margin: 0px;
}
.header-list-item {
    height: auto;
    width: 25%; 
    padding: 13px 8px 5px 5px;
    font-size: 16px;
}
.links {
    text-decoration: none;
    color: white;
}
