#feed-post-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* post section css*/
#feed-post {
    height: auto;
    width: 70%;

}

/* post header css*/
#feed-post-heading {
    height: 50px;
    width: 80%;
    text-align: left;
    padding-left: 18px;
    font-size: 36px;
    margin: 20px 95px;
    }

/* new post form css */
#new-post-form {
    height: 110px;
    width: 80%;
    margin: auto;
}
/* new post form conatiner css */
#new-post-form-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* text input area css */
#form-textarea {
    background-color: #fff;
    border-radius: 10px;
    margin: 0px 10px 0px 45px;
    padding: 10px 15px;
    border: none;
    box-shadow: 1px 1px 2px #e8eef2;    
}

/* submit button css */
#form-sbt-btn {
    background-color: #1da1f2;
    height: 60px;
    width: 70px;
    border-radius: 16px;
    margin: 24px;
    border: none;
    color: #fff;
}
/* post list container css */
#posts-list-container {
    height: auto;
    width: 80%;
    /* border: 1px solid black; */
    margin-left: 94px;
}
#posts-list {
    list-style: none;
}


/* friends list css */
#user-friends {
    height: auto;
    width: 22%;
    padding:20px 30px;
    background-color: #fff;
    margin: 40px 20px 20px 0px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #e8eef2;
}
.friends{
    text-decoration: none;
    color: black;
    font: large;
    padding-left: 10px;
}