.posts-list-item {
    height: auto;
    width: 95%; 
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 5px #e8eef2;
    margin-top: 24px;
}
.posts-list-item-container {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start ;
    padding-top:4%;
    padding-left:4%;
}

.post-list-profile-picture {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-list-profile-picture img {
    width: 140%;

}

.posts-content-conatiner {
    height: auto;
    width: 80%;
    margin-left: 12px;
}
.content-user {
    font-size: larger;
    /* background-color: lightgoldenrodyellow; */
    height: 10px;
    margin-top:0px;
    font-weight:bolder;
    
}

.posts-list-item-content {
    height: auto;
    width: auto;
    /* border: 1px solid grey; */
    border-radius: 5px;
    color: #818285;
    font-size: 16px;
}

.delete-btn-container {
    margin: 40px 50px;
    height: 12px;
    width: 15px;
}
.delete-post-button {
    text-decoration: none;
    color: black;
    font-size: large;

}
.posts-comment-container {
    margin: 0px 55px 10px 50px;
    height: auto;
    /* border-radius: 20px; */
    /* border: 1px solid black; */
    /* background-color: #e6cc9c; */
}

.posts-comment-form-container {
    height: 30px;
    width: 100%;
    border-radius: 7px;
    background-color: #e8eef2;
}

#comment-post-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.comment-input{
    border: none;
    width: 70%;
    height: inherit;
    padding-left: 10px;
    border-radius: 7px;
    background-color: #e8eef2;
}
.comment-submit-button {
    border: none;
    height: inherit;
    width: 25%;
    border-radius: 20px;
    background-color: #e8eef2;
}
.comment-list-container{
    border-radius: 7px;
    margin-top: 15px;
    background-color: #e8eef2;
}
#post-comments-list{
    list-style: none;
    padding-left: 18px;
}